/* center everything */
/* make the background image of the jumbotron the silicon valley intro image */
/* change all the font sizes and stuff */
/* change the background to another color so its not white. */
/* separate the jumbotron and the container */
/* give the container a border */
/* give the container a color other than white as well. */
body {
    background-color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.jumbotron {

    background-color: lightgrey;

}

h1, #rules, .start-button {
    text-align: center;    

}

.container {
    background-color: lightgrey;

}

.timer {
    text-align: center;
    font-size: 25px;
}

#questionText {
    text-align: center;

}

#endGame {
    text-align: center;
}

#scoreText {
    text-align: center;
}

.submit-button {
    text-align: center;
}

.reset-button {
    text-align: center;
}

